@charset "utf-8";
@import url('reset.css');
@import url('main.scss');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Homemade+Apple&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-title : "Gentium Plus", serif;;
    --font-basic : "Lato", 'Pretendard-Regular';
    
    --title-size : 4rem;
    --medium-size : 18px;
    --basic-size : 16px;

    --margin-bottom : 20rem;
}

html, body {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-basic);
    line-height: 1;
    color: #333;
    overflow-x: hidden;
}

body.on {
    overflow: hidden;
}

.inner {
    max-width: 1600px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

header {
    width: 100%;
    height: 150px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    transition: .4s;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .6s;
    transform: translate(100%, 0);
}

header.scroll {
    background-color: #fff;
    height: 100px;
    box-shadow: 0px 0px 20px rgba(133, 133, 133, 0.1);
}
header.scroll .logo img {
    width: 100px;
}
header.scroll .menu_open img {
    width: 30px;
}

header.menuOpen::before {
    transform: translate(0);
}

header.on {
    border-bottom: 1px solid #eee;
}
header.on .logo img {
    filter: invert();
}
header.on > div a {
    color: #333;
    font-weight: 400;
}
header.on .menu_open img {
    filter: invert();
}

header > div {
    display: flex;
    align-items: center;
    column-gap: 70px;
    font-size: 16px;
    font-weight: 300;
}

header > div a {
    color: #fff;
}

main {
    margin-bottom: 15rem;
}

main figure {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

main figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.3085609243697479) 12%, rgba(0,0,0,0) 41%);
}

main figure::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    animation: gradient 4s;
    animation-fill-mode: forwards; /* 애니메이션 마지막 모습을 유지함 */
}

@keyframes gradient {
    from {
       opacity: 1;
    }
    to {
        opacity: 0;
    }
}

main figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

main figure img:first-child {
    display: block;
}

main figure .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
}

main figure .text h2 {
    font-size: 7rem;
    font-family: var(--font-title);
    font-weight: 200;
    margin-bottom: 10px;
    letter-spacing: 2px;
    animation-duration: 2s;
    animation-name: slideleft
}

@keyframes slideleft {
    from {
        transform: translate(100px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
    }
}

main figure .text p {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
    animation-duration: 2s;
    animation-name: slideright
}

@keyframes slideright {
    from {
        transform: translate(-100px, 0);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
    }
}

main figure .prev_btn,
main figure .next_btn {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: var(--medium-size);
    letter-spacing: 1px;
    z-index: 1;
}

main figure .prev_btn {
    left: 14rem;
}

main figure .prev_btn::before,
main figure .prev_btn::after {
    content: "";
    height: 1px;
    position: absolute;
    top: -1rem;
}

main figure .prev_btn::before {
    width: 12rem;
    left: -14rem;
    background-color: rgba(255, 255, 255, .5);
}

main figure .prev_btn::after {
    width: 8rem;
    right: -19px;
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
}

main figure .prev_btn:hover::after {
    width: 20rem;
}

main figure .next_btn {
    right: 14rem;
}

main figure .next_btn::before,
main figure .next_btn::after {
    content: "";
    height: 1px;
    position: absolute;
    top: -1rem;
}

main figure .next_btn::before {
    width: 12rem;
    right: -14rem;
    background-color: rgba(255, 255, 255, .5);
}

main figure .next_btn::after {
    width: 8rem;
    left: -19px;
    background-color: rgba(255, 255, 255, 1);
    transition: .5s;
}

main figure .next_btn:hover::after {
    width: 20rem;
}

nav {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #ffffff;
    color: #333;
    padding-top: 9rem;
    transform: translate(100%, 0);
    transition: .6s;
}

nav.scroll {
    top: 100px;
    height: calc(100vh - 100px);
}

nav.menuOpen {
    transform: translate(0);
}

nav .inner {
    display: flex;
}

nav .inner figure {
    min-width: 300px;
    width: 33.65%;
    min-height: 180px;
    height: 17.91vw;
    margin-top: 7rem;
    margin-right: 14.06vw;
}

nav .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav .inner > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
}

nav .inner > ul > li {
    width: 19.79vw;
    margin-bottom: 6rem;
}

nav .inner ul > li > a {
    font-family: var(--font-title);
    font-size: var(--title-size);
    margin-bottom: 2rem;
    display: block;
}

nav .inner ul > li > ul li a {
    font-family: var(--font-basic);
    font-size: var(--medium-size);
}

nav .info {
    position: fixed;
    bottom: 3rem;
    right: 7rem;
    display: flex;
    align-items: center;
    column-gap: 5rem;
    font-size: var(--basic-size);
    color: #858585;
}

nav .info .text {
    display: flex;
    column-gap: 4rem;
}

nav .info .sns {
    display: flex;
    column-gap: 3rem;
}

nav .info .sns img {
    filter: invert();
    opacity: .5;
}

.story {
    margin-bottom: var(--margin-bottom);
}
.story .inner {
    display: flex;
    flex-direction: column;
    row-gap: 13rem;
}

.story .inner .box {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.story .inner .box .text {
    position: relative;
    padding-top: 5rem;
}
.story .inner .box1 .text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 22.08vw;
    height: 2.23vw;
    background: url(../img/Emotional\ caravan\ camping\ at\ sea.png) center center / 100% no-repeat;
}
.story .inner .box .text span {
    font-size: var(--basic-size);
    color: #b4b4b4;
    font-weight: 600;
    letter-spacing: 1px;
}
.story .inner .box .text h4 {
    font-family: var(--font-title);
    font-size: var(--title-size);
    margin-top: 14px;
    margin-bottom: 2rem;
}
.story .inner .box .text p {
    font-size: var(--basic-size);
    line-height: 1.6;
}
.story .inner .box figure {
    width: 49.16vw;
    height: 25.98vw;
}
.story .inner .box figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story .inner .box.box2 {
    justify-content: flex-start;
    column-gap: 11rem;
}
.story .inner .box.box2 > div {
    display: flex;
    flex-direction: column;
    row-gap: 4.68vw;
}
.story .inner .box.box2 > div .text {
    padding-top: 4vw;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.story .inner .box.box2 > div .view_more {
    width: 147px;
    height: 49px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story .inner .box.box2 > div .view_more a {
    font-size: var(--basic-size);
    font-family: var(--font-title);
}
.story .inner .box.box2 figure {
    width: 42.18vw;
    min-width: 431px;
    height: 22.81vw;
    min-height: 228px;
}

.text_scroll {
    background: url('../img/메인5\ \(2\)\ 2.png') center center / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 250px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    font-size: 230px;
    font-family: var(--font-title);
    font-weight: 600;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
    margin-bottom: var(--margin-bottom);
}

.stay {
    position: relative;
    background-color: #FFF7F3;
    margin-bottom: var(--margin-bottom);
}
.stay::before {
    content: "";
    width: 250px;
    height: 250px;
    position: absolute;
    top: -130px;
    left: 40px;
    animation: rotate 10s linear infinite;
    background: url('../img/rotate_text.png') center center / 100% no-repeat;
}
@keyframes rotate{
    100% {
        transform: rotate(360deg);
    }
}
.stay .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 0;
}
.stay .inner .text div span {
    font-size: var(--basic-size);
    font-weight: 700;
    letter-spacing: 1px;
    color: #DCB39C;
}
.stay .inner .text div h4 {
    font-family: var(--font-title);
    font-size: var(--title-size);
    margin-top: 14px;
    margin-bottom: 2rem;
}
.stay .inner .text div ul {
    display: flex;
    column-gap: 27px;
    font-size: var(--medium-size);
}
.stay .inner .text div ul li {
    color: #a0a0a0;
    cursor: pointer;
    transition: .4s;
}
.stay .inner .text div ul li.on {
    color: #333;
}
.stay .inner .text p {
    font-size: var(--basic-size);
    line-height: 1.6;
    margin-top: 6.61vw;
    margin-bottom: 2.44vw;
    display: none;
}
.stay .inner .text p.on {
    display: block;
}
.stay .inner .text .view_more {
    width: 147px;
    height: 49px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stay .inner .text .view_more a {
    font-size: var(--basic-size);
    font-family: var(--font-title);
}
.stay .inner figure {
    width: 62.23vw;
    height: 32.44vw;
}
.stay .inner figure img {
    position: absolute;
    width:  62.23vw;
    height: 32.44vw;
    object-fit: cover;
}
.stay .inner figure img {
    display: none;
}
.stay .inner figure img:first-child {
    display: block;
}

.special {
    position: relative;
    margin-bottom: var(--margin-bottom);
}
.special .typing {
    position: absolute;
    min-width:11px;
    font-size: 20px;
    font-family: "Homemade Apple", cursive;
    white-space: nowrap;
    position: absolute;
    top: -10px;
    color: transparent;
}
.special .typing::before {
    content: "Emotional caravan camping at sea";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    color: #d5d5d5;
    border-right: 1px solid #d5d5d5;
    overflow: hidden;
    animation: typing 5s steps(31) infinite;
}
@keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
}
.special .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special .inner figure {
    width: 58.69vw;
    height: 16.14vw;
}
.special .inner figure img {
    position: absolute;
    width: 58.69vw;
    height: 100%;
    object-fit: cover;
    display: none;
}
.special .inner figure img:first-child {
    display: block;
}
.special .inner .text span {
    font-size: var(--basic-size);
    color: #b4b4b4;
    font-weight: 700;
    letter-spacing: 1px;
}
.special .inner .text h4 {
    font-family: var(--font-title);
    font-size: var(--title-size);
    margin-top: 14px;
    margin-bottom: 2rem;
}
.special .inner .text p {
    font-size: var(--basic-size);
    line-height: 1.6;
    margin-bottom: 54px;
    letter-spacing: 1px;
}
.special .inner .text a {
    font-size: 15px;
    border-bottom: 1px solid #333;
}

.special_offers {
    text-align: center;
    margin-bottom: var(--margin-bottom);
}
.special_offers h4 {
    font-size: var(--title-size);
    font-family: var(--font-title);
}
.special_offers p {
    font-size: var(--basic-size);
    margin-top: 10px;
    margin-bottom: 60px;
}
.special_offers .slideWrap {
    overflow: hidden;
}
.special_offers ul {
    display: flex;
    column-gap: 1.56vw;
    width: 100vw;
    animation: slide 20s linear infinite;
}
@keyframes slide {
    100% {
        transform: translateX(-80%);
    }
}
.special_offers ul li a figure {
    height: 21.09vw;
    margin-bottom: 20px;
}
.special_offers ul li a figure img {
    height: 100%;
    object-fit: cover;
}
.special_offers ul li h6 {
    font-size: var(--medium-size);
    text-align: left;
}

.contact_us {
    margin-bottom: 15rem;
}
.contact_us .inner {
    position: relative;
    background: url(../img/contact_us.png) center center / cover no-repeat;
    width: 100%;
    height: 430px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_us .inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}
.contact_us .inner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.contact_us .inner strong {
    font-size: var(--title-size);
}
.contact_us .inner p {
    font-size: var(--basic-size);
    margin-top: 41px;
    margin-bottom: 13px;
}
.contact_us .inner span {
    font-size: var(--basic-size);
}
.contact_us .inner .btn {
    display: flex;
    column-gap: 12px;
    margin-top: 42px;
}
.contact_us .inner .btn a {
    width: 128px;
    height: 42px;
    border: 1px solid #fff;
    font-size: var(--basic-size);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: relative;
    height: 458px;
    background: url('../img/푸터.png') center center / cover no-repeat;
    color: #fff;
}
.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.5);
}
.footer .inner {
    padding: 90px 0;
}
.footer .inner div {
    z-index: 1;
}
.footer .inner div:first-child {
    display: flex;
    justify-content: space-between;
}
.footer .inner div:first-child .sns {
    display: flex;
    column-gap: 30px;
}
.footer .inner .footer_info {
    margin-top: 37px;
    margin-bottom: 66px;
    width: 587px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    z-index: 1;
    position: relative; /* z-index는 position이 있어야 함. */
}
.footer .inner .footer_info span {
    font-size: var(--basic-size);
    letter-spacing: 2px;
}
.footer .inner .copyright {
    font-size: var(--basic-size);
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
}


@media screen and (max-width: 1600px) {
    .story .inner .box.box2 > div {
        row-gap: 4vw;
    }
    .story .inner .box.box2 > div .text {
        padding-top: 3vw;
    }
    .special .inner .text h4 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .special .inner .text p {
        margin-bottom: 40px;
    }
   
}

@media screen and (max-width: 1440px) {
    .text_scroll {
        font-size:180px;
    }
    .story .inner .box.box2 {
        align-items: center;
    }
    .story .inner .box.box2 > div .text {
        padding-top: 0;
    }
    .story .inner .box2 .text p:last-child {
        width: 480px;
        word-break: keep-all;
    }
    .story .inner .box2 .text p:last-child br {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --title-size : 3rem;
        --margin-bottom : 15rem;
    }
    nav .inner ul > li > ul li a {
        /* font-size: var(--basic-size); */
    }
    .story .inner .box figure {
        width: 43.16vw;
    }
    .story .inner .box1 .text::before {
        display: none;
    }
    /* .special .inner figure {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .special .inner figure::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
        z-index: 1;
    }
    .special .inner figure img {
        width: 100%;
    } */
    .special .inner {
        flex-direction: column;
    }
}

@media screen and (max-width: 1080px) {
    
    main {
        margin-bottom: 10rem;
    }
    .text_scroll {
        font-size: 150px;
    }
    .story .inner {
        row-gap: 10rem;
    }
    .story .inner .box {
        flex-direction: column;
    }
    .story .inner .box.box2,
    .story .inner .box.box2 > div {
        align-items: end;
    }
    .story .inner .box.box2 .text p {
        text-align: end;
    }
    .story .inner .box1 .text {
        margin-bottom: 40px;
    }
    .story .inner .box1 .text::before {
        bottom: -3rem;
    }
    .story .inner .box figure {
        width: 56.16vw;
        height: 31.98vw;
    }
    .story .inner .box.box2 > div .text {
        padding-top: 20px;
    }
    .stay {
        padding-bottom: 18rem;
    }
    .stay .inner {
        position: relative;
        flex-direction: column;
        padding: 15rem 0;
    }
    .stay .inner .text {
        margin-bottom: 30px;
        text-align: center;
    }
    .stay .inner .text div ul {
        column-gap: 3rem;
    }
    .stay .inner .text p {
        position: absolute;
        top: 74%;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .stay .inner .text p br:first-child {
        display: none;
    }
    .stay .inner .text .view_more {
        position: absolute;
        top: 96%;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 1023px) {
    main figure .prev_btn {
        display: none;
    }
    main figure .next_btn {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .text_scroll {
        font-size: 110px;
    }
}
@media screen and (max-width: 767px) {
    :root {
        --title-size : 3rem;
        --margin-bottom : 10rem;
    }
    .text_scroll {
        display: none;
    }
}